<a href="https://colab.research.google.com/github/veronicamarenco/EDC/blob/main/Python_Tasks_6_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
~def function_name(parameters):
    """Optional docstring explaining the function."""
    # Code block (function body)
    return result  # optional

In [16]:
def convert(hours):
  """convert hours to seconds"""
  seconds = hours * 60 * 60
  return seconds

In [18]:
print(convert (2))

7200

In [23]:
def square_list(list):
  """square every number in list"""
  list_squared = []
  for number in list:
    list_squared.append(number**2)
  return list_squared

In [24]:
mylist = [1, 2, 3, 4, 5]

In [26]:
print(square_list(mylist))

[1, 4, 9, 16, 25]

In [ ]:
def